<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>文件下载</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/share.css">
	  <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up"> <div
    class="message">文瑞网盘文件下载</div> <div id="darkbannerwrap"></div>
    <a>您要下载的文件：</a> <br><br><br> <a style="color:rgb(56,168,253)">{{filename}}</a> <br><br><br> <form id =
    'needvie1'  autocomplete="off"  class="layui-form" ></form>
    <input value="下载（{{filesize}}）" onclick="dow()" lay-submit lay-filter="login" style="width:100%;" type="submit">
    </div>
<script type="text/javascript">
    if ("{{needvie}}" == 'yes'){
        $("form[id='needvie1']").html('<input name="text" id="vvvvie" lay-verify="required" autocomplete="off" placeholder="请输入提取码" class="layui-input"><hr class="hr15"><br>')
    }
    else{
        $("form[id='needvie1']").html('本文件为公开文件，无需填写提取码<br><br>')
    }
    dow = function(){
        filevie3 = ''
        if ("{{needvie}}" == 'yes'){filevie3=$("input[id='vvvvie']").val() }
        location.href='/DownFileShare?ids={{ids}}&filevie='+filevie3
    }
</script>
</body>
</html>